//Created by nikitak on 10.10.2016.

script.
    var AUTH0_LOCK;

    //IGNORE - NOT IMPORTANT
    function httpGetAsync(theUrl, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", theUrl, true); // true for asynchronous
        xmlHttp.send(null);
    }

    //SETUP LOCK ON APP LOAD
    httpGetAsync('/lukeA/authzero',function(res){
        //Get json response object
        var jsonResponseObject = JSON.parse(res);

        if(jsonResponseObject!=null){

            //Route where to return after successful login
            var myCallbackRoute = '?route=/lukeA/user';
            //myCallbackRoute = '';

            //Setup your AUTH0_LOCK
            AUTH0_LOCK = new Auth0Lock(jsonResponseObject.AUTH0_CLIENT_ID, jsonResponseObject.AUTH0_DOMAIN, {
                auth: {
                    redirectUrl: jsonResponseObject.AUTH0_CALLBACK_URL + myCallbackRoute,
                    responseType: 'code',
                    params: {
                        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
                    }
                }
            });
        }
    });
    /*
    lock.on("authenticated", function (authResult) {
        // Use the token in authResult to getProfile() and save it to localStorage
        lock.getProfile(authResult.idToken, function (error, profile) {
            if (error) {
                // Handle error
                return;
            }

            localStorage.setItem('idToken', authResult.idToken);
            localStorage.setItem('profile', JSON.stringify(profile));
        });
    });*/
    /*
    , {
     auth: {
     redirectUrl: jsonResponseObject.AUTH0_CALLBACK_URL + myCallbackRoute,
     responseType: 'code',
     params: {
     scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
     }
     }
     }
    * */
    //Use lock (basic login)
    function login(){
        AUTH0_LOCK.show();
    }
    //Use lock if required (accessing restricted features)
    function getInfo() {
        httpGetAsync("/lukeA/test/registered", function (resText) {
            var res = JSON.parse(resText);
            if (res.logged) {
                //Do something with data
                console.log(res.data);
            } else {
                //Else show lock or display "Access restricted message"
                lock.show();
            }
        });

    }


